# Distribution / packaging
.Python
dist/
*.egg*
build
coverage
*.xml
.venv

# Sphinx documentation
doc/_build/
doc/generated/
doc/auto_examples/
doc/auto_tutorials/
doc/modules/generated/
doc/sphinxext/cachedir
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
cover

# Pycharm
.idea/

*.pyc

.cache
.pytest_cache
.ipynb_checkpoints
.DS_Store
.vscode/

__pycache__

examples/test2.py
mne_bids/tests/data/tiny_bids/sub-01/ses-eeg/eeg/sub-01_ses-eeg_rec-prelim.edf
mne_bids/tests/data/tiny_bids/sub-01/ses-eeg/eeg/sub-01_ses-eeg_rec-prelim.json
mne_bids/tests/data/tiny_bids/sub-01/ses-eeg/sub-01_ses-eeg_rec-prelim.edf